@charset 'utf-8';
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    
}
#wrap{
    width: 100%;
    margin: 0 auto;
    
}
#hd{
    clear: both;
    position: relative;
    width: 100%;
}
.header{
    height: 100px;
    width: 80%;
    margin: 0 auto;
}
.header .logo{
    display: block;
    width: 120px;
    height: 50px;
    padding-top: 40px;
}
.logo img{
    margin-top: -30px;
    cursor: pointer;
    display: block;
    width: 100%;
}
.gnb{
    float: right;
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
}
.gnb li{
    float: left;
    width: 20%;
}
.gnb li a{
    font-size: 14px;
    display: block;
    font-weight: bold;
}
.gnb li:first-child a{
    color: #fa9172;
}
.gnb li a:hover{
    color: #fa9172;
}
.top-bar{
    position: absolute;
    top: 50px;
    width: 320px;
    right: 150px;
}
.top-bar li{
    float: left;
    margin-right: 20px;
}
.top-bar li a{
    display: block;
    font-size: 17px;
}
.top-bar li:first-child a{
    font-size: 12px;
}
.top-bar li a i:hover{
    color: gainsboro;
}





/*열기버튼*/
.lst_btn{
    background-image: url(../img/toggle_06.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height:30px;
    position: relative;
    top: 400px;
    left: 70px;
    z-index: 90;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
}
#mgnb{
    position: fixed;
    top: 0;
    left: -250px; /*바깥쪽으로 박스 숨기기*/
    z-index: 60;
    width: 240px;
    height: 100%;
    background: rgba(255,255,255,0.8);
    transition: 0.5s;
    border-right: 3px solid darkred;
}
#mgnb li a{
    font-size: 16px;
}
#ck1:checked ~ #mgnb{
    left: 0;
}/*ck1클릭시 #gnb 바깥쪽에있던 left -240px것이 0px으로 */
#ck1{
    display: none;
}/*체크상자숨기기*/

.close_btn{
    /*x버튼디자인*/
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(../img/toggle_06.png);
    background-repeat: no-repeat;
    background-position: -195px -145px;
    cursor: pointer;
    float: right;
    text-indent: -9999px;
    margin: 15px;
}
.main{
    clear: both;
    margin-top: 80px;
}
.main li{
    line-height: 46px;
}
.main li a{
    
    padding-left: 20px;
    font-size: 24px;
    display: block;
    color: #333;
}
.main li a:hover{
    font-weight: bold;
    color: #fa9172;
}
/*가짜토굴*/


.bgleft img {
    width: 30px;
    height: 30px;
}

.bgright {
    position: absolute;
    right: 80px;
    top: 350px;
}

.bgright li {
    clear: both;
}

.bgright img {
    width: 50px;
    height: 50px;
}

/*아티스트*/

.ARTISTS-list{
    width: 100%;
    height: 1300px;
    position: relative;
    clear: both;
}
.artists{
    position: relative;
    width: 80%;
    background-color: red;
    margin: 0 auto;
}
.artists li{
    position: relative;
    cursor: pointer;
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.artists li a{
    display: block;
}
.artists li:first-child:hover::after{
    content: "JAY PARK / 박재범";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}

.artists li:nth-child(2):hover::after{
    content: "SIMON DOMINIC / 사이먼 도미닉";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(3):hover::after{
    content: "GRAY / 그레이";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(4):hover::after{
    content: "LOCO / 로꼬";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(5):hover::after{
    content: "CHA CHA MALONE / 차 차 말론";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(6):hover::after{
    content: "ELO / 엘로";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(7):hover::after{
    content: "UGLY DUCK / 어글리덕";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(8):hover::after{
    content: "WOO WON JAE / 우원재";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(9):hover::after{
    content: "HOODY / 후디";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(10):hover::after{
    content: "DJ PUMKIN / DJ 펌킨";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:nth-child(11):hover::after{
    content: "DJ WEGUN / DJ 웨건";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:0px;
    height: 50px;
    text-indent: 20px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(238, 238, 238,0.5);
}
.artists li:first-child{
            width: 350px;
            height: 400px;
            background-image: url(../img/instarpack.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:first-child:hover{
            background-image: url(../img/sub1.jpg);
        }

.artists li:nth-child(2){
            width: 350px;
            height: 400px;
            background-image: url(../img/instarsam.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(2):hover{
            background-image: url(../img/sub2.jpg);
        }




.artists li:nth-child(3){
            width: 350px;
            height: 400px;
            background-image: url(../img/images/instar_03.png);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(3):hover{
            background-image: url(../img/sub3.jpeg);
        }


.artists li:nth-child(3){
            width: 350px;
            height: 400px;
            background-image: url(../img/images/instar_03.png);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(3):hover{
            background-image: url(../img/sub3.jpeg);
        }


.artists li:nth-child(4){
            width: 350px;
            height: 400px;
            background-image: url(../img/images/instar_26.png);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(4):hover{
            background-image: url(../img/sub4.jpg);
        }


.artists li:nth-child(5){
            width: 350px;
            height: 400px;
            background-image: url(../img/images/instar_18.png);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(5):hover{
            background-image: url(../img/sub5.jpg);
        }


.artists li:nth-child(6){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar20.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(6):hover{
            background-image: url(../img/sub6.jpg);
        }


.artists li:nth-child(7){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar23.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(7):hover{
            background-image: url(../img/sub7.jpg);
        }


.artists li:nth-child(8){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar25.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(8):hover{
            background-image: url(../img/sub8.jpg);
        }


.artists li:nth-child(9){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar26.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(9):hover{
            background-image: url(../img/sub9.jpeg);
        }


.artists li:nth-child(10){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar27.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(10):hover{
            background-image: url(../img/sub10.jpg);
        }


.artists li:nth-child(11){
            width: 350px;
            height: 400px;
            background-image: url(../img/instar28.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1s;
            margin-top: 30px;
        }
        .artists li:nth-child(11):hover{
            background-image: url(../img/sub11.jpg);
        }





.top-btn{
    text-align: center;
    border: 1px solid #333;
    position: fixed;
    height: 50px;
    width: 50px;
    line-height: 30px;
    right: 50px;
    bottom: 100px;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
}



.ft{
    width: 100%;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 120px;
    
    
}
.copyright{
    text-align: center;
}




  @media screen and (max-width:767px){
            .wrap{
                column-count: 1;
            }
      .gnb{
          display: none;
      }
   
      .top-bar{
          display: none;
      }
      .slider img{
          width: 100%;
      }
      
      
/*가짜토굴*/
       /*가짜토굴*/
    /*열기버튼*/
.lst_btn{
    background-image: url(../img/toggle_06.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height:30px;
    position: relative;
    top: 40px;
    left: calc(50% - -200px);
    z-index: 90;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
}
#mgnb{
    position: fixed;
    top: 0;
    left: -101%; /*바깥쪽으로 박스 숨기기*/
    z-index: 60;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    transition: 0.5s;
    border-right: 3px solid darkred;
}
    .main{
    clear: both;
    margin-top: 80px;
}
.main li{
    line-height: 46px;
}
.main li a{
    text-align: center;
    padding-left: 20px;
    font-size: 30px;
    display: block;
    color: #333;
}
.main li a:hover{
    font-weight: bold;
    color: #fa9172;
}
.bgleft{
    position: absolute;
    left:calc(50% - -170px);
    top: -80px;
}

.bgright{
    position: absolute;
    right: 4px;
    top: 120px;
}
.bgright li{
    clear: both;
}
.bgright img{
    width: 50px;
    height: 50px;
}

      /*아티스트*/
      .ARTISTS-list{
    width: 100%;
          margin-top: -50px;
    height: 1200px;
    position: relative;
    clear: both;
}
.artists{
    width: 80%;
    margin: 0 auto;
}
.artists li{
    float: left;
    width: 100%;
}
      .artists li:nth-child(1){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(2){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(3){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(4){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(5){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(6){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(7){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(8){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(9){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(10){
          width: 100%;
          height: 300px;
      } 
       .artists li:nth-child(11){
          width: 100%;
          height: 300px;
      }
      
        }







  @media screen and (min-width:960px) and (max-width:1279px){
           
   
.gnb{
    float: right;
    position: absolute;
    top: 50px;
    left: 320px;
    width: 500px;
}
.gnb li{
    float: left;
    width: 15%;
}

.top-bar{
    position: absolute;
    top: 50px;
    width: 300px;
    right: 1px;
}
.top-bar li{
    float: left;
    margin-right: 10px;
}
.top-bar li a{
    display: block;
    font-size: 15px;
}
      
      
/*가짜토굴*/

.bgleft img{
    width: 25px;
    height: 25px;
}
.bgright{
    position: absolute;
    right: 4px;
    top: 40px;
}
.bgright li{
    clear: both;
}
.bgright img{
    width: 50px;
    height: 50px;
}

      /*아티스트*/
      .ARTISTS-list{
    width: 100%;
    height: auto;
    position: relative;
    clear: both;
}
.artists{
    width: 80%;
    margin: 0 auto;
}
.artists li{
    float: left;
    width: 100%;
}
      .artists li:nth-child(1){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(2){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(3){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(4){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(5){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(6){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(7){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(8){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(9){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(10){
          width: 100%;
          height: 350px;
      } 
       .artists li:nth-child(11){
          width: 100%;
          height: 350px;
      }
      
.bgleft{
    position: absolute;
    left:calc(50% - -170px);
    top: -80px;
}

.bgright{
    position: absolute;
    right: 25px;
    top: 150px;
}
      
        }